body {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: black;
}

.header {
    border-bottom: 3px solid #32c9cd;
}

.container {
    display: flex;
    width: 80%;
    margin: auto;
    justify-content: space-around;
}

.titulo {
    color: #32c9cd;
}

.navbar {
    display: flex;
    flex-direction: row;
    list-style: none;
    width: 300px;
    justify-content: space-between;
    color: #e3b062;
    align-items: center;
}

.header .container {
    justify-content: space-between;
}

/* BANNER */
.banner {
    padding: 40px 20px 30px 10px;
    color: white;
    height: 400px;
    background-image: url(bg-jelly-fish-para_outras_pags.png);


}

/* CTL espaço */
.banner .container {
    justify-content: center;
    align-items: center;
    height: 100%;
    background-size: 100%;
}

.banner .container p {
    font-size: 36px;
    width: 25%;
}

.banner.container p span {
    font-weight: bold;

}

.social {
    background-color: white;
    padding: 40px 0;
}

.card_institucional {
    width: 150px;
    text-align: center;

}

.card_img {
    width: 100px;
    margin-top: 15px;
}

.card h4 {
    font-size: 24px;
}

.footer {
    height: 100px;
    background-color: #32c9cd;

}

.footer .container {
    justify-content: center;
    align-items: center;
    height: 100px;

}

.login {
    display: flex;
    justify-content: center;
    background-image: url(bg-jelly-fish-para_outras_pags.png);
    background-size: cover;
    background-position: center;
    align-items: center;

}

.login .container {
    justify-content: center;

    background-size: cover;

    height: 75vh;
    align-items: center;
    margin: 30px;

}

.card {
    background-color: white;
    display: flex;
    flex-direction: column;
    height: 300px;
    width: 300px;
    border-radius: 10px;
    border: 3px solid;

}

.card h2 {
    color: palevioletred
}

.campo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}



.formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 75vh;
    color: palevioletred;
}

.header a {
    text-decoration: none;
    color: #e3b062;
    cursor: alias;
}


.caixa_formulario_cadastro {
    background: white;
    width: 400px;
    height: 360px;
    color: palevioletred;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    border-radius: 4px;
}

.caixa_formulario_login {
    background: white;
    width: 400px;
    height: 280px;
    color: palevioletred;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
}

.caixa_formulario h1 {
    font-size: 30px;
}
.agora{
    font-size: 20px;
    font-style: bold;
}

button {
    margin-top: 10px;
    background: #e1374e;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    width: 120px;
    align-self: center;
    cursor: pointer;
    margin: 10px;
}

input {
    padding: 10px 15px;
    text-align: center;
    border: 2px solid #32c9cd;
    border-radius: 10px;
    width: 200px;
    padding: 7px 15px;
}

span {
    font-size: 20px;
}
